<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container mb-3 mt-3">
      <% if notice.present? %>
        <p class="alert alert-secondary"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert alert-primary"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
